.quantity-input {
  text-align: center;
  border-radius: 0;
  border: 1px solid $color-link-primary;
  width: 5rem;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-count {
  background: $color-link-primary;
  padding: 5px;
  color: #fff;
  width: 30px;
  text-align: center;
}

.quantity-controls {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.quantity {
  display: inline-block;
}
